aside.aside-bar {
  position: fixed;
  background: #ffffff;
  min-height: 100%;
  left: 0;
  top: 0;
  z-index: 33333;
  //transition: all .3s ease-in-out;
  transform: translateX(-137%);

  .inner {
    height: 100vh;
    overflow: hidden;
  }
}

.aside-bar-area {
  position: fixed;
  z-index: 33333;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
}

aside.display {
  transform: translateX(0%);
}

.aside-header {
  padding: 13px 34px 13px;
}

.bordered {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.aside-content {
  overflow: auto;
  width: 137%;
  padding-right: 28%;

  .aside-link-inner {
    height: 100%;
    fill: #606060;

    svg {
      height: 20px;
      width: 20px;
      margin-right: 15px;
    }
  }

  .content-block {
    padding: 10px 0;

    a {
      color: #606060;
    }

    p, span {
      padding: 0px 20px;
      word-break: break-all;
    }
  }
}

.aside-bar-list {
  width: 100%;
  margin: 0;
  padding: 0;

  li {
    height: 40px;

    a {
      display: block;
      padding: 5px 20px;
      height: 100%;

      &:hover {
        text-decoration: none;
        background: rgba(214,214,214, .3);
      }
    }

    a.active {
      background: rgba(0,0,0, .1);

      .aside-link-inner {
        fill: red;
        color: #030303;
      }
    }
  }
}

.aside-bar-footer-list {
  li {
    margin: 15px 0;
  }

  li:last-child {
    margin: 25px 0 10px 0;
  }
}

.category-title {
  text-transform: uppercase;
  font-weight: 500;
}
