.video-list {

  a {
    display: block;
    //width: 100%;
  }
}

.video-list.column {

  li {
    width: 100%;
    margin: 10px 0;

    &:first-child {
      margin: 0 0 10px;
    }

    img {
      height: 100px;
    }

    span {
      font-size: 13px;
    }
    //a {
    //  height: 100%;
    //
    //  img {
    //    display: block;
    //    height: 100%;
    //  }
    //}

    .detail {
      h2 {
        max-height: 55px;
        -webkit-line-clamp: 2;
      }
    }
  }

}

.video-list.row {

  li {
    margin: 10px 18px 10px 0;

    img {
      height: 136px;
    }
  }

  .detail {
    padding: 15px 0 !important;

    h2 {
      max-height: 35px;
    }
  }

  .video-item {
    @media screen and (min-width: 1366px) {
      max-width: 250px;
    }

    @media screen and (max-width: 1365px) {
      max-width: 200px;
    }


  }
}

// VIDEO LIST ITEM
