.comments {
  margin-top: 30px;
  
  li {
    margin-bottom: 20px;
  }
}

.comment {

  .column {
    padding-right: 20px;
  }
}

.user-name {
  color: #030303;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.8rem;
}

p {
  margin: 0;
}
